<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/style.css"/>
    
</head>

<body>

    <div class="header">
        <!-- <a href="#default" class="logo">CompanyLogo</a> -->
        <div class="header-right">
            <a class="active" href="/">Home</a>
            <a href="/icecream">Products</a>
            <a href="/contact">Contact</a>
        </div>
        <div class="search-container">
            <form action="/icecream/" method="post">
                {% csrf_token %} 
                <select name="search_type">
                    <option value="icecream">Icecream</option>
                    <option value="contact">Contact</option>
                </select>
                <input type="text" placeholder="Search......" name="search">
                <button class="btn fa fa-search" type="submit"></button>
            </form>
        </div>
    </div>
    <div class="hero">
        {% block content %}
        {% endblock %}
    </div>


</body>

</html>

